# deps
node_modules/
.pnp
.pnp.js

# next
.next/
out/
build/

# env
.env
.env*.local
!.env.example

# prisma
prisma/migrations/**/migration.sql

# misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts
.agents/
